USE [master]
GO
/****** Object:  Database [Typhoon]    Script Date: 2023/6/25 22:58:35 ******/
CREATE DATABASE [Typhoon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Typhoon', FILENAME = N'D:\SQL_Server\Instance\MSSQL16.MYSQLSERVER\MSSQL\DATA\Typhoon.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Typhoon_log', FILENAME = N'D:\SQL_Server\Instance\MSSQL16.MYSQLSERVER\MSSQL\DATA\Typhoon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Typhoon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Typhoon]
GO
/****** Object:  Table [dbo].[台风登陆记录]    Script Date: 2023/6/25 22:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[台风登陆记录](
	[No] [int] NOT NULL,
	[place] [varchar](8) NULL,
	[time] [varchar](30) NULL,
	[name] [varchar](10) NULL,
 CONSTRAINT [PK_台风登入记录] PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[台风汇总信息]    Script Date: 2023/6/25 22:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[台风汇总信息](
	[台风编号] [int] NOT NULL,
	[年份] [int] NULL,
	[年份编号] [int] NULL,
	[中文名] [varchar](10) NULL,
	[英文名] [varchar](10) NULL,
	[描述] [varchar](255) NULL,
 CONSTRAINT [PK_台风汇总信息] PRIMARY KEY CLUSTERED 
(
	[台风编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[台风路径]    Script Date: 2023/6/25 22:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[台风路径](
	[No] [varchar](30) NOT NULL,
	[id] [int] NULL,
	[name] [varchar](8) NULL,
	[时间] [varchar](20) NULL,
	[风速] [varchar](10) NULL,
	[移向] [varchar](10) NULL,
	[强度] [varchar](12) NULL,
	[中心位置] [varchar](14) NULL,
	[中心气压] [varchar](10) NULL,
	[年份] [int] NULL,
 CONSTRAINT [PK_台风路径] PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[台风相关数据表]    Script Date: 2023/6/25 22:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[台风相关数据表](
	[No] [int] NOT NULL,
	[数据名称] [varchar](50) NULL,
	[年份] [int] NULL,
	[数值] [float] NULL,
 CONSTRAINT [PK_台风相关数据表] PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
